body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
}


#clickerSide {
    height: 100vh;
    width: 50%;

    background-color: #EECC88;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

#points {
    background-color: #222222;
    color: #FFFFFF;

    width: 80%;
    padding: 1em;

    position: relative;
    top: 1em;

    text-align: center;
}

#clickerButton {
    width: 16em;
    height: 16em;

    background-color: #FFCC66;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#elementsSide {
    height: 100vh;
    width: 50%;

    background-color: #BBBBFF;
}

.elementDiv {
    display: flex;
    flex-direction: row;

    height: 8em;
    width: 100%;

    outline-style: solid;
    outline-width: 4px;
}

.elementDisplayDiv {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: scroll;
}

.elementSprite {
    height: 90%;
    object-fit: contain;
}

.elementButtonsDiv {
    display: flex;
    flex-direction: column;
    flex-basis: content;
}

.elementButton {
    height: 33%;
}